<!DOCTYPE html>
<html>
	<head>
		{include file="public/title" /}
	</head>
	<body>
		<!--navbar_top 顶部-->
		{include file="public/header" /}
	    <!--内容背景-->
	    <div class="body_minback">
	    	<div class="contain">
	    		<!--内容-->
	    		<div class="contain_com">
	    			<!-- 面包屑导航 -->
			        <div class="breadcrumb">
			            <ul>
			                <li><a name='flagI' href="/" style="color:#666467;">首页</a></li>
			                <li>></li>
			                <li><a href="javascript:void(0);">{$crumbs}</a></li>
			                <li >></li>
			                <li class="jt"><a href="javascript:void(0);">{$end_crumbs}</a></li>
			            </ul>
			        </div><!-- 面包屑导航 end -->
			        <!--内容左-->
			        <div class="matter_left">
			        	<!--侧导航-->
			        	<div class="side_nav">
			        		<div class="side_navtitle">{$crumbs}</div>
			        		<div class="side_navlist side_navlheig" id="cem_detail_title">
			        			<ul>
			        				{foreach name='category' id='vo'}
			        					<li tab="{$vo.id}" data-url="{:url('home/Article/getList')}" {if condition="$vo['id'] eq $cate_id"} class="thistab"{/if}><a href="javascript:void(0)" >{$vo.name}</a></li>
			        				{/foreach}
			        			</ul>
			        		</div>
			        	</div><!--侧导航  end-->
			        	<!--联系方式-->
			        	{include file="public/contactWay" /}
			        </div><!--内容左 end-->
			        <!--内容右-->
			        <div class="matter_right">
			        	<div class="news_rightlist">
			        	<ul>
			        		<!--行业动态-->
			        		<li id="tabcem5" class="cem_details_box">
			        			<div class="matter_title">{$end_crumbs}</div>
			        			<!--行业动态列表-->
			        			<div class="lists_list">
			        				<ul id='list_box'>
			        					{foreach name='data' id='v'}
			        						<li><a href="{:url('home/Article/detail',array('id'=>$v['id']))}#flagD">{$v.title|msubstr=0,20}</a><span>{$v.create_time}</span></li>
			        					{/foreach}
			        				</ul>
			        			</div><!--行业动态列表 end-->
			        		</li><!--行业动态 end-->
			        		<!--政策法规-->		        		
			        	</ul>
			        </div>
			        <!--分页-->	
						<div class="paging">
							<ul>
								
							</ul>
						</div><!--分页 end-->
			        </div><!--内容右 end-->
	    		</div><!--内容 end-->
	    	</div>
	    	{include file="public/footer" /}
	    </div><!--内容背景 end-->
	   {include file="public/linkjs" /}
	   <script>
	   		var pageData = <?php echo json_encode($data);?>;
	   </script>
	   <script type="text/javascript" src="__JS__/article.js"></script>
	   <script type="text/javascript" src="__JS__/page.js"></script>
	</body>
</html>
