<div class="copyright clear">
    <ul>
        <li><a href="{:url('home/Article/aboutCemetery',array('cid'=>config('about_cemetery')))}">关于陵园</a></li>
        <li><a href="{:url('home/Article/index',array('cid'=>config('cemetery_dynaminc')))}">陵园动态</a></li>
        <li><a href="{:url('home/Scenery/index')}">陵园景观</a></li>
        <li><a href="{:url('home/Tomb/index')}">墓型展示</a></li>
        <li><a href="{:url('home/Product/index')}">产品服务</a></li>
        <li><a href="{:url('home/Article/index',array('cid'=>config('news_center')))}">新闻资讯</a></li>
        <li><a href="{:url('home/Article/aboutCemetery',array('cid'=>config('call_me')))}">联系我们</a></li>
    </ul>
    <p class="copyright_fon">服务热线：<span>{notempty name="webMessage['web_tel'][0]"}{$webMessage.web_tel.0} {/notempty}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{notempty name="webMessage['web_tel'][1]"}{$webMessage.web_tel.1}{/notempty}</span></p>
    <p>{$webMessage.web_site_icp}&nbsp;&nbsp;&nbsp;&nbsp;{$webMessage.web_site_cnzz}&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">91搜墓网版权所有</a></p>
    <p>{$webMessage.web_site_copy}</p>
</div><!-- copyright版权结束 -->
<!-- toolbar返回顶部工具条-->
<div class="toolbar">
	<a id="backTop" href="javascript:;"><img src="__IMG__/index-top.jpg" /></a>
</div>
<!-- toolbar返回顶部工具条end -->